[Unit]
Description=Run EUMETSAT Linux wallpaper updater every 15 minutes (example)

[Timer]
OnCalendar=*:0/15
Persistent=true
Unit=eumetsat-wallpaper.service

[Install]
WantedBy=timers.target
